In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
import warnings
warnings.filterwarnings('ignore')

In [70]:
df=pd.read_csv("NextGenRecruit(1).csv")
df

,EQ,IQ,Technical_Skills,Soft_Skills,Extra_Activities,Hackathons,Projects,Stream,CGPA,Internships,Gender,"Placed or Not (1=Yes, 0=No)"
0,7,9,8,9,3,2,2,CSE,8.0,1,Male,1
1,7,9,7,8,5,3,3,ECE,8.5,2,Female,1
2,6,8,6,7,2,1,1,MECH,7.5,0,Male,0
3,8,9,9,10,4,4,2,CSE,9.0,3,Male,1
4,9,8,10,9,6,5,3,EEE,9.5,2,Female,1
...,...,...,...,...,...,...,...,...,...,...,...,...
157,7,6,7,7,2,1,1,EEE,7.2,1,Female,0
158,9,9,10,10,6,5,4,CSE,9.5,3,Male,1
159,8,8,9,9,4,3,2,MECH,8.8,2,Female,1
160,6,7,6,7,3,1,1,EEE,7.8,0,Male,0
161,7,8,9,9,5,3,2,CSE,8.3,2,Male,1

In [71]:
df.head(5)

,EQ,IQ,Technical_Skills,Soft_Skills,Extra_Activities,Hackathons,Projects,Stream,CGPA,Internships,Gender,"Placed or Not (1=Yes, 0=No)"
0,7,9,8,9,3,2,2,CSE,8.0,1,Male,1
1,7,9,7,8,5,3,3,ECE,8.5,2,Female,1
2,6,8,6,7,2,1,1,MECH,7.5,0,Male,0
3,8,9,9,10,4,4,2,CSE,9.0,3,Male,1
4,9,8,10,9,6,5,3,EEE,9.5,2,Female,1

In [72]:
df.tail(5)

,EQ,IQ,Technical_Skills,Soft_Skills,Extra_Activities,Hackathons,Projects,Stream,CGPA,Internships,Gender,"Placed or Not (1=Yes, 0=No)"
157,7,6,7,7,2,1,1,EEE,7.2,1,Female,0
158,9,9,10,10,6,5,4,CSE,9.5,3,Male,1
159,8,8,9,9,4,3,2,MECH,8.8,2,Female,1
160,6,7,6,7,3,1,1,EEE,7.8,0,Male,0
161,7,8,9,9,5,3,2,CSE,8.3,2,Male,1

In [73]:
df.dtypes

EQ                               int64
IQ                               int64
Technical_Skills                 int64
Soft_Skills                      int64
Extra_Activities                 int64
Hackathons                       int64
Projects                         int64
Stream                          object
CGPA                           float64
Internships                      int64
Gender                          object
Placed or Not (1=Yes, 0=No)      int64
dtype: object

In [74]:
df["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [75]:
df["Stream"].unique()

array(['CSE', 'ECE', 'MECH', 'EEE'], dtype=object)

In [76]:
df["Gender"].value_counts()

Male      82
Female    80
Name: Gender, dtype: int64

In [77]:
df["Stream"].value_counts()

CSE     59
MECH    41
ECE     32
EEE     30
Name: Stream, dtype: int64

In [78]:
x=df.drop(['Placed or Not (1=Yes, 0=No)'],axis='columns')
y=df['Placed or Not (1=Yes, 0=No)']

In [79]:
x.head()

,EQ,IQ,Technical_Skills,Soft_Skills,Extra_Activities,Hackathons,Projects,Stream,CGPA,Internships,Gender
0,7,9,8,9,3,2,2,CSE,8.0,1,Male
1,7,9,7,8,5,3,3,ECE,8.5,2,Female
2,6,8,6,7,2,1,1,MECH,7.5,0,Male
3,8,9,9,10,4,4,2,CSE,9.0,3,Male
4,9,8,10,9,6,5,3,EEE,9.5,2,Female

In [80]:
y.head()

0    1
1    1
2    0
3    1
4    1
Name: Placed or Not (1=Yes, 0=No), dtype: int64

In [81]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print(le)

LabelEncoder()

In [82]:
df['Gender_n']=le.fit_transform(df['Gender'])
df['Stream_m']=le.fit_transform(df['Stream'])

In [83]:
df=df.drop(['Gender','Stream'],axis='columns')

In [84]:
df.head()

,EQ,IQ,Technical_Skills,Soft_Skills,Extra_Activities,Hackathons,Projects,CGPA,Internships,"Placed or Not (1=Yes, 0=No)",Gender_n,Stream_m
0,7,9,8,9,3,2,2,8.0,1,1,1,0
1,7,9,7,8,5,3,3,8.5,2,1,0,1
2,6,8,6,7,2,1,1,7.5,0,0,1,3
3,8,9,9,10,4,4,2,9.0,3,1,1,0
4,9,8,10,9,6,5,3,9.5,2,1,0,2

In [85]:
x=df.drop(['Placed or Not (1=Yes, 0=No)'],axis='columns')
y=df['Placed or Not (1=Yes, 0=No)']

In [86]:
x.head()

,EQ,IQ,Technical_Skills,Soft_Skills,Extra_Activities,Hackathons,Projects,CGPA,Internships,Gender_n,Stream_m
0,7,9,8,9,3,2,2,8.0,1,1,0
1,7,9,7,8,5,3,3,8.5,2,0,1
2,6,8,6,7,2,1,1,7.5,0,1,3
3,8,9,9,10,4,4,2,9.0,3,1,0
4,9,8,10,9,6,5,3,9.5,2,0,2

In [87]:
y.head()

0    1
1    1
2    0
3    1
4    1
Name: Placed or Not (1=Yes, 0=No), dtype: int64

In [88]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [89]:
from sklearn.metrics import accuracy_score
score=accuracy_score

In [90]:
from sklearn.linear_model import LinearRegression
reg1=LinearRegression()
print(reg1)
reg1.fit(x_train,y_train)
reg1.score(x_test,y_test)

LinearRegression()

0.7648370785182165

In [91]:
from sklearn.linear_model import LogisticRegression
lor=LogisticRegression()
print(lor)
lor.fit(x_train,y_train)
lor.score(x_test,y_test)

LogisticRegression()

0.9591836734693877

In [92]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
print(gnb)
gnb.fit(x_train,y_train)
gnb.score(x_test,y_test)

GaussianNB()

0.9387755102040817

In [93]:
from sklearn.svm import SVC
svc=SVC()
print(svc)
svc.fit(x_train,y_train)
svc.score(x_test,y_test)

SVC()

0.9591836734693877

In [94]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
print(rfc)
rfc.fit(x_train,y_train)
rfc.score(x_test,y_test)

RandomForestClassifier()

0.9387755102040817

In [95]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
print(dtc)
dtc.fit(x_train,y_train)
dtc.score(x_test,y_test)

DecisionTreeClassifier()

0.9387755102040817

In [96]:
df.head(3)

,EQ,IQ,Technical_Skills,Soft_Skills,Extra_Activities,Hackathons,Projects,CGPA,Internships,"Placed or Not (1=Yes, 0=No)",Gender_n,Stream_m
0,7,9,8,9,3,2,2,8.0,1,1,1,0
1,7,9,7,8,5,3,3,8.5,2,1,0,1
2,6,8,6,7,2,1,1,7.5,0,0,1,3

In [97]:
dtc.predict([[7,6,5,7,3,2,1,6.7,6,1,3]])

array([0], dtype=int64)

In [98]:
dtc.predict([[9,9,10,10,6,5,4,9.7,3,0,1]])

array([1], dtype=int64)

In [99]:
import pickle
pickle.dump(lor,open('pikl1.pkl','wb'))